<h2>Template Form</h2>
<hr>

<form #myform="ngForm">
    <div>
        Name: <input type="text" name="name" #name="ngModel" [(ngModel)]="user.name" required minlength="3" />
        <p *ngIf="name.errors && (myform.submitted || name.touched)" class="text-danger">
            <span [hidden]="!name.errors.required">Please Enter Name</span>
            <span [hidden]="!name.errors.minlength">Name must have atleast 3 characters</span>
        </p>
    </div>

    <div>
        Email: <input type="text" name="email" #email="ngModel" [(ngModel)]="user.email" required email/>
        <p *ngIf="email.errors && (myform.submitted || email.touched)" class="text-danger">
            <span [hidden]="!email.errors.required">Please Enter Email</span>
            <span [hidden]="!email.errors.email">Email is not correct</span>
        </p>
    </div>

    <div>
        Password: <input type="password" name="password" #password="ngModel" [(ngModel)]="user.password" required minlength="6" />
        <p *ngIf="password.errors && (myform.submitted || password.touched)" class="text-danger">
            <span [hidden]="!password.errors.required">Please Enter password</span>
            <span [hidden]="!password.errors.minlength">password must have atleast 6 characters</span>
        </p>
    </div>

    <div>
        Confirm Password: <input type="password" name="confirmPassword" #confirmPassword="ngModel" [(ngModel)]="user.confirmPassword" required validateEqualTo="password" />
        <p *ngIf="confirmPassword.errors && (myform.submitted || confirmPassword.touched)" class="text-danger">
            <span [hidden]="!confirmPassword.errors.required">Please Enter confirm password</span>
            <!-- we dont have any built-in validation for comparing 2 text boxes -->
            <!-- so we need to create our own custom validator or we can use 3rd party packages as well -->
            <!-- so here we are going to download & use packages from npmjs.com -->
            <span [hidden]="!(!confirmPassword.errors.required && confirmPassword.errors?.validateEqual)">confirm password does not match</span>
        </p>
    </div>

    <div>
        <input type="submit" value="Save" />
    </div>
</form>